body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #3B4C60;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.main-container{
  position: relative;
  background-color:#F8F8F8;
  min-width: 200px;
  min-height: 200px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.header{
  border-radius: 15px 15px 0 0;
  font-weight: 700;
  color:rgb(148, 162, 182);
  text-align: center;
  font-size: 20px;
  width: 100%;
  position: relative;
  height: 40px;
  background-color: rgb(236, 235, 235);
}
ul li{
 
  list-style: none;
}
ul li::before {
  
  content: "";
  display: inline-block;
  border-radius: 10px;
  background-color: #ABD2E9;
  
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.logo{
  position: absolute;
  bottom:-30px;
  right: 10px;
  opacity: 0.2;
  
}
.random-button{
  z-index: 3;
  color: white;
  left: 50px;
  background-color: #42BA90;
  padding: 10px;
  font-size: 20px;
  border: none;
  margin-left: 35%;
  margin-top: 10px;
  
  border-radius: 8px;
}

.random-button:focus{
  outline:none;

}
.random-button:hover,.random-button:active{
  cursor: pointer;

}
.random-button:active{
  color: #42BA90;
  background-color: white;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
}
.loader{
  top:40vh;
  display: inline-block;
  width: 64px;
  height: 64px;
}
.loader::after{
  content: " ";
  display: block;
  width: 100px;
  height: 100px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #3F9C82;
  border-color: #3F9C82 transparent #3F9C82 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
